<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Paradox Fortuna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PRE -->
    <link rel="preload" href="HTML/VIDEOS/main.mp4" as="video" type="video/mp4">

    <!-- CSS -->
    <link rel="stylesheet" href="HTML/CSS/style.css">

    <!-- JS -->
    <script src="HTML/JS/angular.js" charset="utf-8"></script>
    <script src="HTML/JS/app.js" charset="utf-8"></script>



  </head>
  <body ng-controller="myController">
    <div class="app-container">
      <div class="app-container-inner" id="container">
        <div class="app-header">
          <video oncontextmenu="return false;" class="app-video" src="HTML/VIDEOS/main.mp4" autoplay muted loop style="top: {{scrollOffset}}px;"></video>
          <div class="app-text">
            <div class="app-text-line">WE ARE</div>
            <div class="app-text-line">PARADOX</div>
          </div>
        </div>
        <div class="app-content">
          <div class="app-content-fade">
            <div class="app-content-center">
              <h1>Who we are?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="app-content-fade">
            <div class="app-content-center">
              <h1>Our team</h1>
              <div class="app-team-div">
                <div class="app-team-half">

                </div>
                <div class="app-team-half">

                </div>
                <div class="app-team-image">

                </div>
              </div>
            </div>
          </div>
          <div class="app-content-fade">
            <div class="app-content-center">
              <h1>Who we are?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="app-content-fade">
            <div class="app-content-center">
              <h1>Who we are?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="app-content-fade">
            <div class="app-content-center">
              <h1>Who we are?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

        </div>
        <div class="app-footer">
          <div class="app-footer-nav">
            <div class="app-footer-single">
              <div class="app-footer-list">

              </div>
            </div>
            <div class="app-footer-single">
  b
            </div>
            <div class="app-footer-single">
  c
            </div>
            <div class="app-footer-single">
  d
            </div>
          </div>
          <div class="app-footer-copyright">
            Copyright &copy; 2018
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
