@keyframes scaling {
  0% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes fromleft {
  0% {transform: translateX(-100%);opacity: 0;}
  100% {transform: translateX(0%);opacity: 1;}
}

@keyframes fromright {
  0% {transform: translateX(100%);opacity: 0;}
  100% {transform: translateX(0%);opacity: 1;}
}

@font-face {
  font-family: "TT-Pines";
  src: url("../FONTS/tt-pines-demo.bold-italic.otf");
}

@font-face {
  font-family: "P-Sans";
  src: url("../FONTS/PerspectiveSans-Regular.otf");
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

.app-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.app-container-inner {
  width: calc(100% + 17px);
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-header {
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}

.app-video {
  position: relative;
  object-fit: cover;
  object-position: 80% 0%;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  animation: scaling 0.5s forwards 1s ease-out;
}

.app-text {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.app-text-line {
  height: 50%;
  width: 100%;
  font-size: calc(calc(100vh - 100px) / 4);
  color: #ffffff;
  font-family: "TT-Pines";
  transform: translateX(-100%);
  text-shadow: 0px 0px 10px black;
}

.app-text-line:nth-of-type(1) {
  animation: fromleft 0.5s forwards 1s ease-out;
}
.app-text-line:nth-of-type(2) {
  animation: fromleft 0.5s forwards 1.5s ease-out;
}

.app-content {
  width: 100%;
  overflow-x: hidden;
}

.app-footer {
  width: 100%;
  height: 400px;
  background-color: #212121;
}

.app-footer-single {
  width: 25%;
  max-width: 300px;
}

.app-footer-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100% - 30px);
}

.app-footer-copyright {
  width: 100%;
  height: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "P-Sans";
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
}

.app-footer-list {
  font-size: 24px;
  color: #ffffff;
}

.app-content-fade {
  width: 100%;
}

.app-content-fade:nth-of-type(odd) {
  animation: fromleft 0.5s forwards ease-out;
  animation-play-state: paused;
}

.app-content-fade:nth-of-type(even) {
  animation: fromright 0.5s forwards ease-out;
  animation-play-state: paused;
}

.app-content-center {
  width: 1000px;
  margin: 0px auto;
  padding: 15px;
}

.app-content-center h1 {
  text-align: center;
  font-family: "TT-Pines";
  color: #212121;
  font-size: 36px;
}

.app-content-center p {
  text-align: justify;
  direction: ltr;
  font-family: "TT-Pines";
  color: #212121;
  font-size: 20px;
}

.app-team-div {
  box-shadow: 0px 0px 10px 1px #00000088;
  width: 100%;
  background-color: #212121;
  height: 600px;
  border-radius: 150px 150px 20px 20px;
  position: relative;
  display: flex;
}

.app-team-div::after {
  content: '';
  position: absolute;
  width: 552px;
  height: 138px;
  left: calc(50% - 276px);
  bottom: -69px;
  background-image: url("../IMAGES/frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.app-team-half {
  width: 50%;
  height: 600px;
  display: flex;
}

.app-team-half:nth-of-type(odd) {
  padding: 20px;
  padding-right: 10px;
  text-align: left;
}

.app-team-half:nth-of-type(even) {
  padding: 20px;
  padding-left: 10px;
  text-align: right;
}

.app-team-all {
  width: 100px;
  height: 100%;
  background-color: blue;
}

.app-team-image {
  position: absolute;
  height: 615px;
  width: 400px;
  bottom: 0px;
  left: calc(50% - 200px);
  background-image: url("../IMAGES/players/1.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%,85% 100%,15% 100%);
  border-radius: 20px;
}
